#################### Version
# The version of meelo to use (edge, latest, vX.X.X)
# See available tags here: https://hub.docker.com/r/arthichaud/meelo-front/tags
# The default value is 'latest'
# Please read the changelog before changing this value
# https://github.com/Arthi-chaud/Meelo/releases
TAG=
#################### Database
# The port on the host where meelo will be accessible
PORT=
# Username to access database
POSTGRES_USER=
# Password to access database
POSTGRES_PASSWORD=
# Name of Meelo's database 
POSTGRES_DB=
# Username of Meelo's Message Queue 
RABBITMQ_USER=
# Password of Meelo's Message Queue 
RABBITMQ_PASSWORD=
#################### Config
# The directory that contains the `settings.json` file (and where the illustrations will be stored) (on the host machine)
CONFIG_DIR=
# The root path of your libraries (on the host machine)
DATA_DIR=
#################### Anonymous Access
# Set to 1 if you want to allow anonymous request
# This will not affect front-end behaviour
ALLOW_ANONYMOUS=
# If set to 0, users will not be able to create accounts
# Do not set this to 0 if you haven't created the first admin account yet
ENABLE_USER_REGISTRATION=1
#################### Web app
# Public URL to access Meelo, without trailing slash
# Example: http://localhost:5000
PUBLIC_URL=
#################### Security
# Random String used to sign JWT Tokens
JWT_SIGNATURE=
# Key used to authenticate the Meilisearch Instance
# Should be a random string, must be at least 16 bytes
MEILI_MASTER_KEY=
# A coma-separated list of random strings used for internal authentication
# Example: API_KEYS=azertyuip,qwertyuiop
API_KEYS=
#################### Scrobblers
# All values here are optional
# Fill in the values according to what scrobblers you want to enable
## LastFM:
## Values obtained when creating an API account
## https://www.last.fm/api/account/create
LASTFM_API_KEY=
LASTFM_API_SECRET=
## ListenBrainz:
### No configuration needed
#################### Internal
# Do not change this
INTERNAL_DATA_DIR=/data
INTERNAL_CONFIG_DIR=/config
