**/node_modules
**/dist
# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/

docs/generated

meelo/
data/

.env

**/.direnv
**/.envrc
