resolver 127.0.0.11 valid=10s ipv6=off;

server {
	listen ${PORT} default_server;
	listen [::]:${PORT} default_server;
	access_log off;
	server_name _;

	location = /api {
	    return 302 /api/;
	}
	location /api/ {
	    set $meelo_server ${SERVER_URL};
	    rewrite ^/api(/.*)$ $1 break;
	    proxy_pass $meelo_server;
	}
	location = /scanner {
	    return 302 /scanner/;
	}
	location /scanner/ {
	    set $meelo_scanner ${SCANNER_URL};
	    rewrite ^/scanner(/.*)$ $1 break;
	    proxy_pass $meelo_scanner;
	}
	location = /matcher {
	    return 302 /matcher/;
	}
	location /matcher/ {
	    set $meelo_matcher ${MATCHER_URL};
	    rewrite ^/matcher(/.*)$ $1 break;
	    proxy_pass $meelo_matcher;
	}
	location / {
		set $meelo_front ${FRONT_URL};
		proxy_pass $meelo_front;
	}
}
