name: Add Sponsors to README
on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * 0
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Generate Sponsors
        uses: JamesIves/github-sponsors-readme-action@v1
        with:
          token: ${{ secrets.PAT }}
          file: "README.md"

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: main
          folder: "."
